$primary: #000000;
$secondary: #FFD822;
$accent: #E4107E;
$white: #FFFFFF;

$fw-bold: 700;

html,
body {
    margin: 0;
    padding: 0;
}

#es-rc #es-rc-content {
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
        display: block;
        margin: auto;
    }

    p {
        margin: 0;
    }

    sup {
        font-size: 0.6em;
    }

    figure,
    figcaption {
        padding: 0;
        margin: 0;
    }

    ::selection {
        background: $accent;
    }

    .es-title {
        background-color: $secondary;
        max-width: max-content;
        text-transform: uppercase;
        font-size: 32px;
        margin: auto;
        padding-inline: 8px;
        color: $primary;
        text-align: center;
    }



    margin: 0 auto;
    padding: 0;
    font-family: "Roboto Condensed",
    sans-serif;
    font-optical-sizing: auto;
    background-color: $primary;
    max-width: 998px;
    margin: auto;
    color: $white;


    .es-kv {

        &__logoCtn {
            background: $white;
            padding-block: 6px;
            overflow: hidden;

            img {
                max-width: 250px;
                margin-bottom: -18px;

            }


        }

        &__right--bgWrapper {
            background: url("/images/sunflower.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding-block: 24px;
            padding-inline: 16px;
        }

        &__logo--olia {
            max-width: 180px;
            margin-left: auto;
            margin-right: 1rem;
            transform: translateX(-50%);
        }

        &__text {
            text-transform: uppercase;
            color: $white;
            text-align: justify;
            margin-block: 50px;
            max-width: 260px;
        }

        &__title {
            font-size: 40px;
            font-weight: $fw-bold;
        }

        &__descr {
            font-size: 30px;
        }

        &__packshotCtn {
            max-height: 300px;
            max-width: 150px;
            margin: auto;

        }

        &__left {
            position: relative;
        }

        &__banner {
            color: $white;
            position: absolute;
            background-color: #F8B10D4D;
            font-size: 18px;
            text-transform: uppercase;
            padding: 8px 16px;
            transform: translateX(-50%);
            left: 50%;
            bottom: 5%;
            width: max-content;
        }
    }

    .es-safe {
        &__textCtn {
            background-color: $secondary;
            text-transform: uppercase;
            padding: 32px;
            display: flex;
            flex-direction: column;
            aspect-ratio: 1/1;
            justify-content: center;
            font-size: 24px;
            gap: 1em;
            color: $primary;
        }

        &__text span {
            background-color: $primary;
            color: $white;
            padding-inline: 4px;
        }

        &__imgCtn {
            aspect-ratio: 1/1;
            display: flex;
            align-content: end;
            flex-wrap: wrap;
            overflow: hidden;
        }

        &__imgCtn img {
            transition: all 200ms ease-in-out;
        }

        &__imgCtn img:hover {
            scale: 1.1;
        }

    }

    .es-features {
        background-image: url("/images/sunflower_bg.png");
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 50px 16px;

        &__Ctn {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-block: 32px;
            gap: 32px;
        }

        &__single {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            max-width: 150px;
        }

        &__single img {
            transition: all 200ms ease-in-out;
        }

        &__single:hover img {
            transform: translateY(-10%);
        }

        &__descr {
            color: $white;
            font-size: 16px;
            text-align: center;
            text-wrap: balance;
        }
    }

    .es-package {
        &__items {
            display: flex;
            flex-direction: column;
            width: 60%;
            max-width: 250px;
            margin: auto;
            margin-block: 32px;
            gap: 8px;
        }



        &__item {
            position: relative;
            transition: all 200ms ease-in-out;
            z-index: 2;
        }

        &__item:hover {
            scale: 1.1;
        }

        &__item::before {
            position: absolute;
            width: 5px;
            height: 2px;
            content: "";
            background-color: $secondary;
            top: 50%;
            left: -15px;
        }

        &__imgCtn {
            position: relative;
            z-index: 1;
        }

        &__imgCtn::after {
            width: 100%;
            height: 30%;
            background-color: $secondary;
            content: "";
            position: absolute;
            transform: translateY(-50%);
            top: 55%;
            z-index: 0;
        }

        &__imgCtn img {
            position: relative;
            z-index: 1;
            width: 80%;
            max-width: 500px;
        }

    }

    .es-colors {
        margin-top: 50px;

        &__items {
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            width: 60%;
            max-width: 250px;
            margin: auto;
            margin-top: 32px;
            gap: 8px;
            font-size: 20px;
        }

        &__item {
            position: relative;
            transition: all 200ms ease-in-out;
        }

        &__item::before {
            position: absolute;
            width: 5px;
            height: 2px;
            content: "";
            background-color: $accent;
            top: 50%;
            left: -15px;
        }

        &__item:hover {
            margin-left: -2%;
        }

        &__imgCtn {
            padding: 32px;
        }

        &__colorsCtn {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            padding: 16px;
        }

        &__single {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-wrap: wrap;
            align-content: center;
            align-items: flex-start;
        }

        &__span {
            font-size: 24px;
            margin-right: 8px;
        }

        &__figureimgCtn {
            overflow: hidden;
            outline: 2px solid $white;
        }

        &__figureimgCtn img {
            transition: all 200ms ease-in-out;
        }

        &__figureimgCtn img:hover {
            scale: 1.1;

        }
    }

    .es-use {
        margin-top: 50px;

        &__Ctn {
            display: flex;
            flex-direction: column;
            gap: 48px;
            padding: 32px;
            margin-top: 32px;
        }

        &__single {
            text-align: center;
            text-wrap: balance;
        }

        &__img {
            margin-bottom: 32px;
            aspect-ratio: 1/1;
            transition: all 200ms ease-in-out;
        }

        &__single:hover img {
            transform: translateY(-10%);
        }
    }

    .es-footer {
        text-align: center;
        margin-top: 90px;

        &__banner {
            margin-top: 48px;
            background: rgb(18, 88, 40);
            background: -moz-linear-gradient(90deg, rgba(18, 88, 40, 1) 0%, rgba(19, 111, 50, 1) 20%, rgba(19, 116, 52, 1) 50%, rgba(19, 112, 51, 1) 80%, rgba(18, 91, 41, 1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(18, 88, 40, 1) 0%, rgba(19, 111, 50, 1) 20%, rgba(19, 116, 52, 1) 50%, rgba(19, 112, 51, 1) 80%, rgba(18, 91, 41, 1) 100%);
            background: linear-gradient(90deg, rgba(18, 88, 40, 1) 0%, rgba(19, 111, 50, 1) 20%, rgba(19, 116, 52, 1) 50%, rgba(19, 112, 51, 1) 80%, rgba(18, 91, 41, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#125828", endColorstr="#125b29", GradientType=1);

        }

        &__imgCtn {
            padding: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }
    }
}

@media (min-width: 360px) {
    #es-rc #es-rc-content {
        .es-kv {
            &__banner {
                font-size: 26px;
            }
        }

        .es-safe {
            &__textCtn {
                font-size: 32px;
            }
        }

        .es-features {
            &__descr {
                font-size: 20px;
            }
        }

        .es-package {
            &__item {
                font-size: 20px;
            }
        }
    }
}

@media (min-width: 440px) {
    #es-rc #es-rc-content {
        .es-kv {
            &__banner {
                font-size: 34px;
            }

            &__packWrapper {
                display: flex;
                height: 380px;
            }

            &__text {
                margin-left: 50px;
                margin-top: 85px;
            }

            &__packshotCtn {
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    width: 191px;
                    height: 84px;
                    border-bottom: 2px solid #FFFFFF;
                    border-left: 2px solid #FFFFFF;
                    left: -101%;
                    bottom: 9%;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    #es-rc #es-rc-content {
        .es-title {
            font-size: 40px;
            padding-inline: 32px;
            padding-block: 6px;
        }

        .es-kv {
            display: flex;
            flex-direction: row-reverse;

            &__left {
                width: 50%;
                overflow: hidden;
            }

            &__left img {
                transition: all 200ms ease-in-out;
            }

            &__left img:hover {
                scale: 1.1;
            }

            &__right {
                width: 50%;
            }


            &__banner {
                font-size: 24px;
            }

            &__title {
                font-size: 24px;
            }

            &__descr {
                font-size: 20px;
            }

            &__text {
                margin-left: 6px;
                margin-top: 105px;
                width: 50%;
            }

            &__packshotCtn img {
                transition: all 200ms ease-in-out;
            }

            &__packshotCtn img:hover {
                scale: 1.1;
            }

            &__packshotCtn::before {
                width: 126px;
                height: 112px;
                left: -64%;
                z-index: 2;
            }

            &__logo--olia {
                margin-right: 3rem;
                transform: translateX(0);
            }
        }

        .es-safe {
            display: flex;

            &__textCtn {
                width: 50%;
            }

            &__imgCtn {
                width: 50%;
            }
        }

        .es-features {
            background-size: unset;
            padding-top: 140px;

            &__Ctn {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-evenly;
            }
        }

        .es-package {
            &__Ctn {
                margin-top: 90px;
            }

            &__items {
                width: 90%;
                max-width: max-content;
                flex-direction: row;
            }

            &__item::before {
                width: 2px;
                height: 117px;
                top: 36px;
                transform: translate(-50%);
                left: 50%;
                z-index: 2;
            }

            &__item:nth-of-type(2)::before {
                left: 10%;
            }

            &__item:nth-of-type(3)::before {
                border-bottom: 2px solid $secondary;
                border-right: 2px solid $secondary;
                background-color: transparent;
                left: -15%;
                width: 157px;
                height: 157px;
            }
        }

        .es-colors {
            margin-top: 90px;

            &__desktopWrapper {
                display: flex;
                flex-direction: row-reverse;
                padding: 32px;
            }

            &__items {
                padding: 0;
                margin: 0;
                max-width: unset;
                width: 50%;
                padding-left: 10%;
                padding-top: 12%;
                font-size: 22px;
            }

            &__item:nth-of-type(1) {
                margin-top: -32px;
                margin-bottom: 32px;
            }

            &__item:nth-of-type(2) {
                margin-bottom: 16px;
            }

            &__item:nth-of-type(1):before {
                width: 97px;
                height: 17px;
                background-color: transparent;
                border-top: 2px solid $accent;
                border-left: 2px solid $accent;
                left: -53%;
                top: 35%;
            }

            &__item:nth-of-type(2):before {
                width: 80px;
                height: 28px;
                background-color: transparent;
                border-bottom: 2px solid $accent;
                border-left: 2px solid $accent;
                left: -46%;
                top: -55%;
            }

            &__item:nth-of-type(3):before {
                width: 66px;
                height: 78px;
                background-color: transparent;
                border-bottom: 2px solid $accent;
                border-left: 2px solid $accent;
                left: -40%;
                top: -243%;
            }

            &__imgCtn {
                padding: 0;
                width: 50%;
            }

            &__colorsCtn {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 32px;
                column-gap: 4px;
                row-gap: 32px;
            }
        }

        .es-use {
            margin-top: 90px;
            padding: 48px;

            &__Ctn {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }

            &__single {
                width: 50%;
                max-width: 180px;
            }
        }

        .es-footer {

            &__imgCtn {
                flex-direction: row;
                justify-content: center;
                padding: 16px;
                margin-top: 32px;
            }

            &__imgCtn img {
                max-width: 30%;
                margin: unset;
            }
        }
    }
}

@media (min-width: 880px) {
    #es-rc #es-rc-content {
        .es-kv {
            &__text {
                margin-left: 35px;
                margin-top: 94px;
            }

            &__title {
                font-size: 34px;
            }

            &__descr {
                font-size: 22px;
            }

            &__banner {
                font-size: 28px;
            }

            &__packshotCtn::before {
                width: 163px;
                height: 100px;
                left: -87%;
            }

            &__logoCtn img {
                max-width: 350px;
                margin-bottom: -22px;
            }
        }

        .es-package {
            &__items {
                max-width: 758px;
                justify-content: space-between;
            }

            &__item:nth-of-type(1)::before {
                border-bottom: 2px solid $secondary;
                border-left: 2px solid $secondary;
                background-color: transparent;
                width: 142px;
                height: 150px;
                left: 88%;
            }

            &__item:nth-of-type(3)::before {
                left: -61%;
                width: 306px;
            }

            &__Ctn {
                position: relative;
            }

            &__Ctn::after {
                position: absolute;
                content: "";
                background: url(/images/droop.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 25%;
                height: 481px;
                z-index: 0;
                bottom: -216px;
                right: -3%;
            }

        }

        .es-colors {
            &__colorsCtn {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .es-use {
            &__single {
                width: 25%;
                max-width: 170px;
            }
        }

        .es-footer {
            &__text {
                font-size: 14px;
            }

            &__banner img {
                max-width: 175px;
            }
        }
    }
}

@media (min-width: 960px) {
    #es-rc #es-rc-content {
        .es-kv {
            &__text {
                margin-top: 88px;
            }

            &__title {
                font-size: 36px;
            }

            &__descr {
                font-size: 26px;
            }

            &__banner {
                font-size: 32px;
            }

        }

        .es-package {
            &__Ctn::after {
                height: 567px;
                bottom: -269px;
                right: -1%;
            }
        }

        .es-colors {
            &__colorsCtn {
                grid-template-columns: repeat(4, 1fr);
                margin-top: -175px;
                grid-row-gap: 48px;
            }

            .es-colors__single:nth-of-type(1) {
                grid-column-start: 3;
            }

            &__items {
                font-size: 28px;
            }

            &__item:nth-of-type(1):before {
                width: 180px;
                height: 12px;
                top: 43%;
            }

            &__item:nth-of-type(2):before {
                width: 150px;
                height: 24px;
                left: -45%;
                top: -16%;
            }

            &__item:nth-of-type(3):before {
                width: 131px;
                height: 82px;
                left: -40%;
                top: -185%;
            }

            &__span {
                font-size: 32px;
            }

            &__descr {
                font-size: 20px;
            }
        }
    }
}